@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }
  html {
    @apply scroll-smooth;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
  * {
    @apply border-border;
    text-wrap: balance;
  }
  body {
    @apply bg-background text-foreground;
  }
  input::placeholder {
    @apply italic;
  }
  body {
    @apply min-h-screen relative;
  }
}

@layer utilities {
  .fl-col-center {
    @apply flex flex-col items-center justify-center;
  }
  .fl-center {
    @apply flex items-center;
  }
  .muted-text {
    @apply text-sm text-muted-foreground;
  }
  .title {
    @apply font-semibold py-4  text-xl;
  }
  .hovered {
    @apply transition-all hover:opacity-85 hover:shadow-muted-foreground hover:shadow-md duration-200 dark:shadow-white 
    shadow-neutral-500  shadow-sm;
  }
  .shadowMuted {
    @apply shadow-sm shadow-muted hover:shadow-md duration-200 transition-shadow;
  }

  .hoveredText {
    @apply transition-all duration-300 hover:text-muted-foreground shadow-muted-foreground opacity-100 hover:opacity-85;
  }
  .focusedWord {
    @apply text-neutral-500 font-semibold;
  }
  .ignorePadding {
    @apply py-0 !important;
  }
  .borderShadowNeutral {
    @apply shadow-neutral-500 shadow-sm px-4 pt-2 pb-8 rounded-xl;
  }
}

/* ! mansory products */
.containerProductsMansory {
  @apply columns-2 sm:columns-3 md:columns-4 lg:columns-5 xl:columns-6 gap-5 lg:gap-8 [&>div:not(:first-child)]:mt-5 md:[&>div:not(:first-child)]:mt-7 lg:[&>div:not(:first-child)]:mt-9 xl:[&>div:not(:first-child)]:mt-11;
}

/* ! add product */
.containerAddProduct {
  @apply flex flex-col items-center overflow-x-hidden py-4;
}
.cardAddProduct {
  @apply sm:w-[35rem] w-[20rem];
}
.formAddProduct {
  @apply relative overflow-x-hidden;
}

.modalOpen::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  backdrop-filter: blur(1px);
}

/* ! modal */
.modalActionsContainer {
  @apply rounded-2xl dark:bg-background bg-white w-96 z-10 absolute top-36;
}
.innerModalActions {
  @apply flex flex-col gap-2 w-full h-full p-6 rounded-xl;
}

.detailsModalActions {
  @apply fl-center justify-between w-full;
}
.trashModalActions {
  @apply absolute right-4 top-4 hover:scale-125 transition-all duration-200 rounded-full;
}

/* ! catBrand */
.containerCatBrand {
  @apply overflow-x-auto grid;
  grid-template-columns: repeat(14, 1fr);
}
.cardCatBrand {
  @apply fl-col-center px-2 py-4 text-center gap-2 shadowMuted h-[144px];
}
/* ! swipe */
.swipeActions {
  @apply absolute inset-0;
}
.swipeActions > button {
  @apply absolute rounded-full top-1/2 -translate-y-1/2 w-10 p-0  shadowMuted z-10;
}
.swipeActions > button > svg {
  @apply group-hover:opacity-50 dark:text-muted-foreground shadow-muted-foreground transition-opacity duration-300;
}
.swiper-button-next,
.swiper-button-prev {
  @apply dark:text-white text-muted-foreground shadow-muted-foreground sm:scale-100 scale-50 md:scale-75 lg:scale-90 hover:scale-105 duration-300 opacity-85 hover:opacity-100 !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  @apply opacity-0 !important;
}

/* ! products */
.containerProducts {
  @apply grid sm:grid-cols-lg-auto-fit grid-cols-sm-auto-fit gap-x-4 gap-y-8;
}
.containerProducts > div > div {
  @apply shadow-muted shadow-md rounded-md;
}

/* ! product */
.containerSwiperProduct {
  @apply sm:col-span-2 space-y-4 mx-auto w-full sm:block hidden;
}

.containerSwiperProduct > div > .swiper-button-next,
.containerSwiperProduct > div > .swiper-button-prev {
  @apply scale-50 hover:scale-75 transition-transform duration-200 opacity-0  !important;
}
.notMainImg {
  @apply w-full min-h-[88px] max-h-[88px] rounded-md  transition-all duration-200;
}
.online {
  @apply relative;
}

/* ! cart */
.cartContainer {
  @apply sm:borderShadowNeutral py-4 px-2;
}
